<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <link href="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" rel="stylesheet" type="text/javascript">
    <link type="text/javascript" href="/javascripts/google-analytics.js"/>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">

    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" /> -->

    <!--title>app.name</title-->
    <!-- <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" /> -->

    <meta property="og:title" content="<%= settings.facebook.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= settings.facebook.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= settings.facebook.app_id %>" />
  </head>

  <body>
    <div id="fb-root"></div>
    <link type="text/javascript" href="/javascripts/facebook.js"/>

    <!-- 160 x 192-->

    <div id="wrap">
      <div>
      <header>
      </header>
      </div>
      <div id="product-content">
      <ul>
        <% for(var j=0; j<15; j++) {%>
          <section>
            <div class="product">
              <li>
                <img src="images/camiseta.jpg"/>
                  <footer>
                    <h3>
                      <p class="name"><%= name %></p>
                    </h3>
                    <div class="price">
                      <% if (oldPrice==null || j%3==0) { %>
                        <p class="old">DE: R$ <%= oldPrice %></p>
                      <% } %>
                      <p>POR: R$ <%= price %></p>
                      <p>OU ATÉ 2X DE R$ 50,00</p>
                    <div>
                  </footer>
                </li>
              </div>
          </section>
        <% } %>
      </ul>
    </div>
    </div>
  </body>
</html>