<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <link href="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" rel="stylesheet" type="text/javascript">
    <link type="text/javascript" href="/javascripts/google-analytics.js"/>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">

    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" /> -->

    <!--title>app.name</title-->
    <!-- <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" /> -->

    <meta property="og:title" content="<%= settings.facebook.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= settings.facebook.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= settings.facebook.app_id %>" />
  </head>

  <body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= settings.facebook.app_id %>', // App ID
          //channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
        //   (function(d, s, id) {
        // var js, fjs = d.getElementsByTagName(s)[0];
        // if (d.getElementById(id)) return;
        // js = d.createElement(s); js.id = id;
        // js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=<%=settings.facebook.app_id%>";
        // fjs.parentNode.insertBefore(js, fjs);
        // }(document, 'script', 'facebook-jssdk'));
    </script>
 
    <!-- 160 x 192-->

    <div id="wrap">
      <div>
      <header>
      </header>
      </div>
      <div id="product-content">
      <ul>
        <% for(var j=0; j<15; j++) {%>
          <section>
            <div class="product">
              <li>
                <img src="images/camiseta.jpg"/>
                  <footer>
                    <h3>
                      <p class="name"><%= name %></p>
                    </h3>
                    <div class="price">
                      <% if (oldPrice==null || j%3==0) { %>
                        <p class="old">DE: R$ <%= oldPrice %></p>
                      <% } %>
                      <p>POR: R$ <%= price %></p>
                      <p>OU ATÉ 2X DE R$ 50,00</p>
                    <div>
                  </footer>
                </li>
              </div>
          </section>
        <% } %>
      </ul>
    </div>
    </div>
  </body>
</html>