.product-content
  .container-fluid
    - for(var i=0; i<2; i++)
      .row-fluid
        - for(var j=0; j<5; j++)
          .span2.product
            section.product-item
              img(src="images/camiseta.jpg")
              footer
                h3
                  p.name #{response.name}
                .price
                  - if (response.oldPrice==null || j%3==0)
                    p.old DE: R$ #{response.oldPrice}
                  p POR: R$ #{response.price}
                  a(href="#")= "compre-me"
    .row-fluid
      .pagination.paginator
        ul
          - for(var j=0; j<5; j++)
              -if (j==0) 
                li.active
                  span= (j+1)
              - else
                li
                  a(href="#")= (j+1)

