.product-content
  .container-fluid
    - for(var i=0; i<2; i++)
      .row-fluid
        - for(var j=0; j<5; j++)
          .span2.product
            section.product-item
              img(src="images/camiseta.jpg")
              footer
                h3
                  p.name #{response.name}
                .price
                  - if (response.oldPrice==null || j%3==0)
                    p.old DE: R$ #{response.oldPrice}
                  p POR: R$ #{response.price}
                  a(href="#myModal", role="button", data-toggle="modal")= "compre-me"
    .row-fluid
      .pagination.pagination-large.paginator
        ul
          - for(var j=0; j<5; j++)
              -if (j==0) 
                li.active
                  span= (j+1)
              - else
                li
                  a(href="?page=#{(j+1)}")= (j+1)



#myModal.modal.hide.fade
  .modal-header
    button.close("type"="button", "data-dismiss"="modal", "aria-hidden"="true")= "Times"
    h3= "Modal header"
  .modal-body= "One fine body…"
  .modal-footer
    a.btn(href="#")="Close"
    a.btn.btn-primary(href="#")="Save changes"
